body {
  font-family: 'Libre Baskerville', serif;;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #E8E4C9;
}
 
header {
  background: #333;
  color: white;
  padding: 15px;
  display: flex;
  align-items: center;
}
 
header .logo {
  height: 50px;
  margin-right: 15px;
}
 
.container {
  display: flex;
  flex: 1;
}
 
.sidebar {
  width: 200px;
  background: #f4f4f4;
  padding: 15px;
}
 
.sidebar ul {
  list-style: none;
  padding: 0;
}
 
.sidebar ul li {
  margin: 10px 0;
}
 
.sidebar ul li a {
  text-decoration: none;
  color: #333;
}
 
main {
  flex: 1;
  padding: 20px;
}
 
.products {
  display: flex;
  gap: 20px;
}

.product {
  background: #f9f9f9;
  padding: 15px;
  text-align: center;
  border: 1px solid #ddd;
  flex: 1;
}

.product img {
  max-width: 100%;        
  height: 200px;       
  object-fit: cover;   
  border-radius: 5px;  
  display: block;
  margin: 0 auto;      


}

.product p {
  margin-top: 10px;
  font-weight: bold;
}

footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 10px;
}