.cart-page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrapper {
  display: flex;
  flex: 1;
}
.cart-heading {
  font-size: 35px;
  text-align: left;
  width: 100%;           
  margin-right: 10px;
}
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.cart {
  width: 1450px; 
  margin: 30px auto;
  background: #8b8b8b;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}



table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th, table td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.cart-img {
  width: 50px;
  height: auto;
  margin-right: 10px;
  vertical-align: middle;
}

input[type="number"] {
  width: 60px;
  padding: 5px;
  text-align: center;
}

.remove-btn {
  background: #e63946;
  color: #ffffff;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.remove-btn:hover {
  background: #c1121f;
}

.cart-summary {
  text-align: left;
  margin-top: 20px;
}

.cart-summary h3 {
  margin-bottom: 10px;
}

.cart-summary p {
  font-size: 16px;
  margin: 5px 0;
}
.checkout-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000000;
  color: #ffffff;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  font-family: 'Libre Baskerville', serif;
}

.checkout-btn:hover {
  background-color: #8b8b8b;
}

