.contact-page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrapper {
  display: flex;
  flex: 1;
}
.contact-heading {
  font-size: 35px;
  text-align: left;
  width: 100%;           
  margin-right: 1084px;
}
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.form-card {
  width: 500px;
  margin: 50px auto;
  padding: 20px;
  background: #8b8b8b;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
}

button {
  background-color: #000000;   
  color: #000000;               
  padding: 10px 20px;
  border: none;
  border-radius: 5px;          
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #a9a9a9;  
} 