.products-page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.product-heading {
  font-size: 35px;
  text-align: left;
  width: 100%;           
  margin-right: 200px;
}
.product-label {
  font-size: 25px;
  text-align: left;
  width: 100%;           
  margin-right: 20px;
}
.products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start; 
}

.product {
  background: #8b8b8b;
  padding: 15px;
  text-align: center;
  border: 1px solid #ddd;
  width: 350px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  transition: transform 0.2s ease, box-shadow 0.2s ease, border-color 0.2s ease;
}

.product img {
  max-width: 100%;
  height: 200px;
  object-fit: fill;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}

.product p {
  margin-top: 10px;
  font-weight: bold;
}

.product:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border-color: #333;
}
.btn{
  display: inline-block; 
  padding: 8px 16px; 
  background-color: #000000; 
  color: #ffffff; 
  text-decoration: none;
  border-radius: 4px;

}
.btn:hover { background-color: #a9a9a9; }
.submit-text {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #000000;
  text-align: center;
  margin-top: 20px;
}


.submit {
  color: #e8e4c9;             
  font-weight: bold;          
  text-decoration: none;      
  transition: color 0.3s ease; 
  cursor: pointer;            
}


.submit:hover {
  color: #e8e4c9;             
  text-decoration: underline;
}