.login-page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrapper {
  display: flex;
  flex: 1;
}
.signup-heading {
  font-size: 35px;
  text-align: left;
  width: 100%;           
  margin-right: 575px;
}
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.form-card {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: #8b8b8b;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
}

button {
  background-color: #000000;   
  color: #ffffff;               
  padding: 10px 20px;
  border: none;
  border-radius: 5px;          
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  font-family: 'Libre Baskerville', serif;
}

button:hover {
  background-color: #a9a9a9;  
}

.submit {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
  cursor: pointer;
  
}
.submit:hover {
  color: #333333;
  text-decoration: underline;
}