.header {
  background: #25343f;
  color: #ffffff;
  padding: 10px 0;
  position: fixed;   
  top: 0;            
  left: 0;
  width: 100%;       
  height: 130px;     
  z-index: 1100;    
  display: flex;
  align-items: center;
  justify-content: center;
  

}

.header-container {
  width: 100%;
  max-width: 1200px; 
  padding: 0 20px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.logo-img {
  height: 100px;      
  width: auto;
  object-fit: contain;
}

.logo a {
  color: #ffffff;
  text-decoration: none;
  font-size: 2.2rem;
  font-weight: bold;
  transition: color 0.3s ease;
  font-family: 'Libre Baskerville', serif;
}
