.navbar {
  background-color: #8b8b8b;
  padding: 15px;
  text-align: center;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline;
  margin: 0 20px;
}

.navbar a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #ffffff;
}
