.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  font-size: 19px;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #bfc9d1;
  padding-top: 130px;
  padding: 20px;
  margin-left: 1px;
}

@media (max-width: 768px) {
  .main-content {
    padding: 1rem;
  }
}